<form action="/crearHeroe" method="POST">
  <div class="form-group">
    <label>Nombre del poder</label>
    <input type="text" class="form-control" placeholder="Ingrese el nombre del Poder" name="nombrePoder" required>
  </div>
  
 <div class="form-group">
    <label>Daño</label>
    <input type="integer" class="form-control" placeholder="Ingrese el daño" required name="daño" required>
  </div>


  <div class="form-group">
    <label>Nivel</label>
    <input type="integer" class="form-control" placeholder="Ingrese el nivel en que el heroe se encuentra" required name="nivel" required>
  </div>
  
  <button type="submit" class="btn btn-success btn-block">Crear Heroe</button>
</form>