<h1 class="text-center text-info">Registrar Heroes </h1>
<div row>
  <div class="col-sm-2">
  </div>
  <div class="jumbotron col-sm-8 text-center" style="background:#D8F6CE">
    <h1>Heroes</h1>
    <p>Gestionar Heroes</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/CrearEquipo" role="button">Crear Heroes</a>
      <a class="btn btn-primary btn-lg" href="/listarEquipos" role="button">Listar Heroes</a>
    </p>
  </div>
  <div class="col-sm-2">
  </div>
</div>