//

<form action="/Heroe/actualizacionHeroe" method="POST">

  <div class="form-group">
    <label>Nombre del Heroe</label>
    <input type="text" class="form-control" placeholder="Ingrese el nombre del Heroe" name="nombreHeroe" required value="<%=Heroe.nombre%>">
  </div>


 <div class="form-group">
    <label>Castillo</label>
    <input type="text" class="form-control" placeholder="Ingrese el nombre del Castillo" name="nombreCastillo" required value="<%=Heroe.castillo%>">
  </div>


  <div class="form-group">
    <label>Nivel</label>
    <input type="integer" class="form-control" placeholder="Ingrese el nivel en que el heroe se encuentra" required name="nivel" value="<%=Heroe.nivel%>">
  </div>

  <input type="hidden" name="idHeroe" value="<%=Heroe.id%>">
  <button type="submit" class="btn btn-success btn-block">Actualizar Heroe</button>
</form>
