<form action="/crearHeroe" method="POST">
  <div class="form-group">
    <label>Nombre del Heroe</label>
    <input type="text" class="form-control" placeholder="Ingrese el nombre del Heroe" name="nombreHeroe" required>
  </div>
  <div class="form-group">
    <label>Castillo</label>
    <input type="text" class="form-control" required name="Castillo">
  </div>
  <div class="form-group">
    <label>Nivel</label>
    <input type="integer" class="form-control" placeholder="Ingrese el nivel que se encuentra el heroe" required name="Nivel">
  </div>
  <button type="submit" class="btn btn-success btn-block">Crear Heroe</button>
</form>
